<!DOCTYPE html>

<html>
    {%block header %}
    {%include 'base/header.html'%}
    {% endblock %}
    {%block scripts %}
    {%include 'base/Scripts.html'%}
    {% endblock %}
<body>
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>BOOKING</h2>
            <p><a href="index.html">Home</a> &nbsp; / &nbsp; About</p>

        </div>
    </div>
</section>
<section class="team py-5" id="team">
	<div class="container py-lg-4 py-sm-3">
        <h3 class="title-big text-center mb-md-5 mb-4" style="font-family:serif"><i>InterContinental Signature Suite</i></h3>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book1.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Winston Lê</h4>
							<h6>200$</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>PANORAMA SUITE</small></small> </H1>
					<a class="fac" href="#url">
						<i class="fa fa-bed"></i>
					</a>
				</div>
			</div> <!-- An -->
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book2.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Khoa Huynh</h4>
							<h6>300$</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>EXCUTIVE SKYROOM</small></small> </H1>
					<a class="fac" href="#url">
						<i class="fa fa-bed"></i>
					</a>
				</div>
			</div> <!-- Khoa -->
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book3.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>PRESIDENTIAL SUITE</h4>
							<h6>35m2-large contemporary style room provides a great comfort with modern facilities. 154 Superior rooms feature free Wi-Fi, 40 inch...</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>PRESIDENTIAL SUITE</small></small> </H1>
                    <a class="fac" href="#url">
						<i class="fa fa-bed"></i>
					</a>
				</div>
			</div> <!-- Tai -->
		</div>
	</div>
</section>
<div class="w3l-about-us best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
      <h3 class="title-big text-center mb-md-5 mb-4">DELUXE ROOM</h3>
        <div class="maghny-gd-1">
            <div class="row mt-5">
                <div class="maghny-gd-1 col-lg-4 col-md-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/about1.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Top Restaurant <span> Hotels</span></h4>
                                    <p>Breakfast and Dinner</p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/about2.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Spa and Wellness <span> Hotels</span></h4>
                                    <p>Open Daily </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/about3.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Best Luxury Rooms <span> Hotels</span></h4>
                                    <p>Cool view </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/book6.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Best Luxury Rooms <span> Hotels</span></h4>
                                    <p>Cool view </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/book5.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Best Luxury Rooms <span> Hotels</span></h4>
                                    <p>Cool view </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/book4.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Best Luxury Rooms <span> Hotels</span></h4>
                                    <p>Cool view </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

{%block footer %}
{%include 'base/footer.html'%}
{% endblock %}
</html>