<!DOCTYPE html>

<html>
    {%block header %}
    {%include 'base/header.html'%}
    {% endblock %}
    {%block scripts %}
    {%include 'base/Scripts.html'%}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/style.css')}}" type="text/css">

<body>
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>MENU</h2>
            <p><a href="home.html">Home</a> &nbsp; / &nbsp; MENU</p>

        </div>
    </div>
</section>
<div class="quotation py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="welcome-left text-center py-md-5 py-3">
			<h3>InterContinental Signature Suite</h3>
		</div>
	</div>
</div>
<section class="team py-5" id="LUXURY">
	<div class="container py-lg-4 py-sm-3">
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book1.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>From 200$</h4>
							<h6>Located on 25-29 floors, our Executive rooms bring a unique and memorable experience with access to Executive Lounge (on 30th floor) offering complimentary breakfast, exclusive...</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>PANORAMA SUITE</small></small> </H1>
					<a class="fac" href="room1">
						<i class="fa fa-bed " href="menu/1"></i>
					</a>
				</div>
			</div> <!-- An -->
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book2.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>from 300$</h4>
							<h6>Our Executive suites with private living rooms are all located on the executive floors. You can enjoy 46 inch LED IPTV, Espresso coffee machine and in-room fitness at this...</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>EXCUTIVE SKYROOM</small></small> </H1>
					<a class="fac" href="room1">
						<i class="fa fa-bed"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="team-grids text-center">
					<img src="static/images/book3.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>from 400$</h4>
							<h6>35m2-large contemporary style room provides a great comfort with modern facilities. 154 Superior rooms feature free Wi-Fi, 40 inch...</h6>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
                    <H1><small><small>PRESIDENTIAL SUITE</small></small> </H1>
                    <a class="fac" href="room1">
						<i class="fa fa-bed"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="w3-about-2" id="DELUXE SUITE">
    <div class="w3-services-ab py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="row w3-services-grids">
                <div class="col-lg-9 w3-services-right-grid pl-lg-5 mx-auto">
                    <h4 class="title-big text-center mb-md-5 mb-4" style="font-size:48px">Deluxe Room & Suite</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3l-about-us best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="maghny-gd-1">
            <div class="row mt-5">
                <div class="maghny-gd-1 col-lg-4 col-md-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="static/images/about1.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Deluxe Twin<span> Room</span></h4>
                                    <p>from 100$</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="static/images/about2.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Deluxe<span> Room</span></h4>
                                        <p>from 100$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="static/images/about3.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Residential<span> Room</span></h4>
                                        <p>from 100$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-4 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="static/images/book6.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Deluxe King<span> Suite</span></h4>
                                        <p>from 200$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-4 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="static/images/book5.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Grand Deluxe Family<span> Suite</span></h4>
                                        <p>from 150$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-4 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="static/images/book4.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Deluxe Twin<span> Sea View</span></h4>
                                        <p> from 150$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
{%block footer %}
{%include 'base/footer.html'%}
{% endblock %}
</html>
