<!DOCTYPE html>
<html lang="zxx">
{%block scripts %}
{%include 'base/Scripts.html'%}
{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/nice-select.css')}}" type="text/css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/jquery-ui.min.css')}}" type="text/css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomcss/slicknav.min.css')}}" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/jquery.magnific-popup.min.js"></script>
    <script src="./static/js/jquery.nice-select.min.js"></script>
    <script src="./static/js/jquery-ui.min.js"></script>
    <script src="./static/js/jquery.slicknav.js"></script>
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
{%block header %}
{%include 'base/header.html'%}
{% endblock %}
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Room1</h2>
            <p><a href="home.html">Home</a> &nbsp; / &nbsp; Room</p>
            <span class="badge badge-primary" id="cart-stats">0</span>
        </div>
    </div>
</section>
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="{{ url_for('static', filename=roomdetail.image) }}"
                         alt="{{ roomdetail.name }}" />
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>{{ roomdetail.name }}</h3>
                                <div class="rdt-right">
                                    <a href="#">Booking Now</a>
                                </div>
                            </div>
                            <h2>{{ roomdetail.price }}$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Type:</td>
                                        <td>{{ roomdetail.type.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                          <td>{{ roomdetail.description }}</td>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Your Reservation</h3>
                        <form action="">
                            <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="date" class="date-input" id="date-in">
                            <!--                                <i class="fa fa-calendar"></i>-->
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="date" class="date-input" id="date-out">
                            </div>
                                <div class="select-option">
                                    <label for="guest">Guests:</label>
                                    <select id="guest" style="display: none;">
                                        <option value="">3 Adults</option>
                                    </select>
                                </div>
                                <div class="select-option">
                                    <label for="foreigner">Are there any foreigner?</label>
                                    <select id="foreigner" style="display: none;">
                                        <option value="">No foreigner</option>
                                    </select>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">No foreigner</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected">No foreigner</li>
                                            <li data-value="" class="option selected">1 foreigner</li>
                                            <li data-value="" class="option selected">2 foreigner</li>
                                            <li data-value="" class="option selected">3 foreigner</li>
                                        </ul>
                                    </div>
                                  <div>
                                        <input type="button"
                                               onclick="addToCart({{ roomdetail.id }}, '{{ roomdetail.name }}', {{ roomdetail.price }})"
                                               value="Đặt hàng"
                                               class="btn btn-danger" />
                                  </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%block footer %}
{%include 'base/footer.html'%}
{% endblock %}
    <!-- Js Plugins -->
</body>

</html>